@use "../styles/abtracts/variables.scss" as *;
nav {
    width: 100%;
    background-color: #fff;
    padding: 30px 0;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 111.6px;
}

.left {
    display: flex;
    align-items: center;
    gap: 160px;
}

.search {
    position: relative;
}

.search-box {
    width: 400px;
    height: 40px;
    border: 1px solid $textColor;
    border-radius: 8px;
    color: #545F7D;
    font-size: 14px;
    opacity: 0.2;
}

.search-box::placeholder {
    padding-left: 20px;
    opacity: 0.9;
    font-size: 14px;
    font-weight: 400;
}

.search-icon {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #39CDCC;
    padding: 13px 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.right {
    display: flex;
    align-items: center;
    gap: 50px;
}

.doc-link {
    color: $textColor;
    font-size: 16px;
    font-weight: 400;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.notif-icon {
    padding-right: 20px;
}

.avatar-img {
    border-radius: 50%;
}

.profile-name {
    font-size: 16px;
    color: $textColor;
    font-weight: 500;
}

.profile-name::after {
    content: url(../images/caret-down.svg);
    font-size: 20px;
    padding-left: 10px;
    position: absolute;
    top: 6px;
    right: -15px;
}